<div class="card card_bg text-white" id="rules">
  <h5 class="card-header bg-secondary text-white text-center small_header">
	How to play
  </h5>
  <div class="card-body">
	<ul class="list-group list-group-flush">
	  <li class="list-group-item">
		<p class="card-text">Write a sentence and pass it on.</p>
	  </li>
	  <li class="list-group-item">
		<p class="card-text">Collect a new sentence and fix it.</p>
		<h6 class="card-subtitle mb-2 text-info">Posers will try to change the meaning.</h6>
	  </li>
	  <li class="list-group-item">
		<p class="card-text">Try to get the original sentence to the end of the line.</p>
	  </li>
	  <li class="list-group-item">
		<p class="card-text">Figure out who the imposter is!</p>
	  </li>
	</ul>
  </div>
</div>
