<div class="card text-center" id="write_sentence">
  <h5 class="card-header bg-secondary text-white text-center">Write Your Sentence!</h5>
  <div class="card-body">
	<ul class="list-group list-group-flush">
      <li class="list-group-item" id="write_sentence_text">{{ "TODO FILL INSTRUCTION DYNAMICALLY" }}</li>
      <li class="list-group-item">
		<form id="write_sentence_form">
		  <div class="form-group">
			<input type="text" class="form-control" name="sentence" placeholder="Your sentence here">
		  </div>
		  <button type="submit" name="submit" class="btn btn-primary">Write Sentence</button>
		</form>
	  </li>
	</ul>
  </div>
</div>
